<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811764265529-uginffhn2f8g4hmll038anj6un7qna0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811764265529-uginffhn2f8g4hmll038anj6un7qna0p</string>
	<key>API_KEY</key>
	<string>AIzaSyAHyKHHFpHEhkjvQbwHo1ZBZgDnr1P7YRc</string>
	<key>GCM_SENDER_ID</key>
	<string>811764265529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>candidohdiego.Keepi</string>
	<key>PROJECT_ID</key>
	<string>keepi-b49b8</string>
	<key>STORAGE_BUCKET</key>
	<string>keepi-b49b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811764265529:ios:509e0cb9df13df54be53e8</string>
</dict>
</plist>